.scene {
    -fx-background-color: lightgray;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
